<main class="contenedor">
    <form action="/users/crear-cuenta" method="POST" class="default-form">
        <div class="campo">
            <label for="">Nombre</label>
            <input type="text" name="name" placeholder="Coloca tu nombre">
        </div>
        <div class="campo">
            <label for="">Email</label>
            <input type="email" name="email" placeholder="Coloca tu E-mail">
        </div>
        <div class="campo">
            <label for="">Contraseña</label>
            <input type="password" name="name" placeholder="Coloca tu password">
        </div>
        <div class="campo">
            <label for="">Repite contraseña</label>
            <input type="password" name="name" placeholder="Repite tu password">
        </div>
        <div class="campo acciones">
            <a href="/users/iniciar-sesion">Volver a iniciar sesion</a>
        </div>
        <div class="campo">
            <input type="submit" class="btn btn-azul" value="Crear cuenta">
        </div>
    </form>
</main>