<main class="lista-vacantes">
    <h2>Navegacion</h2>
    <div class="botones separador">
        <a href="/users/edit-profile" class="btn btn-azul">Edita tu perfil</a>
        <a href="/vacantes/nueva" class="btn btn-verde">Nueva vacante</a>
    </div>
</main>